* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    
}
header {
  background: rgb(26, 26, 112);
  height: 35px;
  position: relative;
}
header .top-head{
  margin: 7px 0 0 70px;
  display: inline-flex;
}
header .top-head .follow a{
  color: #1a097c;
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 5px;
  background: hsla(240, 39%, 91%, 0.47);
}
header .top-head .fabjust .fab{
  margin: 0 2px 0 2px;
  font-size: 12px;
}
header .top-head .fabjust{
  color: hsla(240, 39%, 91%, 0.47);
  margin: 0 0 0 20px;
}
header .list{
  display: inline-block;
  margin: 12px 40px 0 20px;
  position: absolute;
  right: 0;
}
header .list .list-item ul{
  font-size: 10px;
  list-style-type: none;
}
header .list .list-item li {
  color: white;
  margin: 0 15px 0 0;
  float: left;
}

header .list .fa{
  margin-right: 5px;
}

.header2 {
  display: flex;
  position: sticky;
  top: 0;
  background: rgb(255, 255, 255);
  z-index: 9999;
  justify-content: space-between;
  /* box-shadow: 2px .5px 2px 2px rgba(95, 94, 94, 0.447); */
}
.header2 .menu {
  margin: 0 100px 0 0;
}
.header2 .img {
  margin:  7px 0 3px 0;
  margin-left: 70px;
}
.header2 .topbar .fa{
  display: none;
  color: black;
  font-size: 23px;
  background: #eaf2fd;
  padding: 5px 8px;
  border-radius: 3px;
} 
.header2 .menu .topbar {
  font-size: 14px;
  list-style-type: none;
  margin: 18px 0 0 0;
}
.header2 .menu .topbar li {
  color: rgb(22, 8, 8);
  float: left;
}
.header2 .menu .topbar li a {
  text-decoration: none;
  padding: 5px 10px;
  background: none;
  color: black;
}
.menu .topbar li a:hover:not(.active, .hover2) {
  color: red;
}
.menu .topbar li a.active {
  color: rgb(175, 25, 25);
  background: rgba(128, 90, 90, 0.178);
  border-radius: 13px;
}
.menu .topbar li a.hover2 {
  padding: 7px 18px;
  margin: 15px;
  margin-left: 30px;
  border-radius: 5px;
  background: rgb(9, 9, 105);
  color: white;
}
.menu .topbar li .hover2:hover {
  color: white;
  background: blue;
}
.leftbar{
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;
  background: rgb(11, 11, 66);
  height: 100vh;
  width: 100%;
  list-style-type: none;
}
.leftbar li{
  margin: 0 0 0 0;
  height: 40px;
  width: 100%;
}
.leftbar li a{
  width: 100%;
  padding: 0 40px;
  margin: 0 0 0 0;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.leftbar li a:hover{
  background: #b1a9a9;
}
.leftbar .fa{
  margin: 4px 0 0 10px;
  color: white;
  font-size: 25px;
  outline: 1px rgb(241, 238, 238);
}
.hero {
  background-image: url("../IMAGE/bak.jpg");
  background-size: cover;
  height: 84vh;
  position: relative;
  background-position: center;
  
}
.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.724);
  width: 100%;
  height: 84vh;
  top: 0;
}
.explore {
  display: block;
  margin: 120px 0 0 0;
}
.explore .shaping{
  margin: 0 0 0 70px;
  font-size: 30px;
  color: white;
}
.explore .shaping h4{
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.explore .form {
  display: flex;
  width: 46%;
  border: 1px solid white;
  border-radius: 5px;
  margin: 60px 0 0 70px;
  flex-wrap: wra;
}
.explore select{
  margin: 10px 5px 10px 10px;
  border-radius: 5px;
  padding: 10px 0;
  width: 45%;
}
.explore button {
  width: 48%;
  margin: 10px 5px 10px 10px;
  border-radius: 5px;
  color: white;
  background: red;
  padding: 10px 0;
  border: none;
}
.explore button:hover {
  color: white;
  background: blue;
}
.float{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.float .flex1{
  margin: 80px 5px 20px 0;
  padding: 30px 0;
  flex-basis: 50%;
}
.float .flex1 img{
  margin: 0 0 0 30px;
}
.float .flex2 {
  flex-basis: 50%;
  line-height: 2;
  margin: 80px 0 20px 5px;
}
.float button {
  padding: 15px 25px;
  background: #1a097c;
  border: none;
  border-radius: 5px;
}
.float button:hover {
  background: blue;
}
.float button a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.offering{
  display: inline-block;
  color: #1a097c;
  margin: 50px 0 0 30px;
  font-size: 30px;
  border-bottom: 10px solid rgb(124, 14, 14);
}
.flex-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 140px;
}
.flex-table h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 4px;
}
.flex-table h3{
  text-align: center;
  font-family: autography;
  padding: 10px;
  line-height: 2;
  margin-bottom: 20px;
  font-size: 25px;
}
.flex-table .box{
  margin: 3px 0 3px 0;
  flex-basis: 50%;
  flex-shrink: 0;
  height: 50%;
}
.flex-table .box img{
  width: 100%;
  height: 350px;
  object-fit: cover; 
}
.flex-table .text{
  margin: 3px 10px 3px 0;
  text-align: center;
  padding: 85px 10px 30px 10px;
  flex-basis: 48%;
  height: 50%;
}
.flex-table button{
  margin-top: 5px;
  padding: 10px 7px;
  background: rgb(27, 27, 115);
  border: none;
  border-radius: 4px;
}
.flex-table button a{
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: sans-serif;
  padding: 10px 7px;
}
.flex-table button:hover{
  background: rgb(225, 133, 136);
}
.box1, .box3, .box5{
    color: black;
    background: white;
}

.background{
  background-image: url(../IMAGE/bg2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: colum;
  height: 100vh;
  justify-content: flex-end;
}
.hero2{
  margin-top: 40px;
  height: 80vh;
  background: rgba(221, 224, 225, 0.74);
}
.hero2 .why-me{
  font-size: 28px;
  margin: 110px 0 10px 60px;
  padding: 0 0 8px 0;
  border-bottom: 10px solid rgb(116, 11, 11);
  color: rgb(17, 43, 127);
  display: inline-block;
}
.hero2 h2{
  font-size: 41px;
  margin-left: 60px;
  color: rgb(10, 35, 118);
}
.three-column{
  display: flex;
  margin: 55px 0 0 80px;
  flex-wrap: wrap;
}
.three-column > div{
  color: black;
  padding: 5px; 
  line-height: 1.3;
  margin: 15px;
  flex-basis: 28%;
}
.three-column p{
  padding: 5px 5px 5px 0;
  color: rgb(91, 77, 77);
}
.three-column .fa{
  color: #1a097c;
  font-size: 21px;
  margin: 5px 5px 0 0;
}
.all-news{
  display: inline-block;
  margin: 120px 0 0 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.all-news .para1,.para2{
  color: #1a097c;
  margin: 5px;
  padding: 5px;
}
.all-news .para1{
  font-size: 25px;
  border-bottom: 10px solid rgb(151, 9, 9);
}
.all-news .para2{
  font-size: 35px;
}
.background .overlay2{
  display: inline-block;
  width: 50%;
  color: white;
  background: rgba(0, 0, 0, 0.804);
}

.overlay2 .flex-right h2{
  font-size: 32px;
  margin: 70px 0 30px 30px;
}
.overlay2 .flex-right ul{
  margin: 30px 0 0 35px;
  font-size: 13px;
}
.overlay2 .flex-right ul li{
  align-items: flex-start;
  list-style-type: none;
  margin: 20px;
}
.overlay2 .flex-right ul li h6{
  margin-left: 50px;
  color: antiquewhite;
}
.overlay2 .flex-right ul li .fa{
  margin: 0 10px 0 0;
  padding: 10px;
  border-radius: 50%;
  background: rgb(145, 22, 22);
  font-size: 20px;
}
.hero3{
  display: block;
  margin-top: 40px;
  background: rgba(221, 224, 225, 0.74);
  height: 150vh;
}
.hero3 .event{
  margin: 140px 0 0 70px;
  font-size: 25px;
  color: #1a097c;
   display: inline-block;
  border-bottom: 10px solid rgb(99, 22, 22);
  padding: 4px;
}
.hero3 .event{
  display: inline-block;
  border-bottom: 10px solid rgb(99, 22, 22);
}
.hero3 h2{
  font-size: 45px;
  color: #1a097c;
  margin: 20px 0 0 70px;
}
.boxrow{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.boxrow >div{
  background: white;
  margin: 20px;
  flex-basis: 350px;
  border-radius: 15px;
  padding: 30px 15px 15px 15px;
  box-shadow: 0.7px 2px 3px 1px rgba(14, 10, 10, 0.438);
}
.boxrow h3{
  font-size: 15px;
  margin: 0 0 10px 0;
}
.boxrow p{
  font-size: 15px;
  color: rgba(16, 16, 14, 0.347);
  line-height: 1.5;
}
.boxrow label{
  display: inline-flex;
}
.boxrow label img{
  margin: 22px 0 25px 10px;
}
.boxrow label h5{
     margin: 34px 0 0 5px;
     color: black;
}
.boxrow button{
  color: rgb(100, 21, 21);
  border: 1px solid rgb(113, 21, 21);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 7px 15px;
  margin: 0 0 0 30px;
}
.boxrow button:hover{
  color: white;
  background: rgb(117, 25, 25);
}
.apply {
  display: flex;
  margin: 130px 0 30px 70px;
  display: block;
}
.apply h3{  
  margin-bottom: 10px;
  display: inline-block;
  color: #1a097c;
  padding: 0 0 10px 0;
  border-bottom: 10px solid rgb(86, 14, 14);
  font-size: 25px;
}
.apply p{
  color: #1a097c;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
}
.comp{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.comp>div{
  flex-basis: 550px;
  border-radius: 10px;
}
.comp .apply2{
  text-align: center;
  padding: 60px 30px 60px 30px;
  color: white;
  background: rgb(20, 20, 82);
}
.comp .img3{ 
  width: 100%;
  height: 390px;
}
.comp img{
  width: 100%;
  height: 390px;
  object-fit: cover;
}
.comp .apply2 h1{
  font-size: 40px;
  margin: 10px;
}
.comp .apply2 h4,h5{
  color: rgba(196, 199, 205, 0.685);
  margin: 10px;
}
.comp .apply2 button{
  margin: 50px 0 30px 0;
  padding: 10px 25px;
  border: none;
  color: #1a097c;
  background: white;
}
.comp .apply2 button:hover{
color: white;
background: transparent;
outline: 1px solid white;
}
hr{
  margin-top: 15px;
  background-color: black;
  height: 4px;
  width: 100%;
}
.last{
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.last>div{
  margin: 4px 4px 4px 30px;
 
}
.last ul li{
  list-style-type: none;
  font-size: 13px;
  line-height: 2;
  color: rgba(12, 12, 11, 0.605);
}
.last h5{
  color: rgba(12, 12, 11, 0.605);;
}
.last p{
  font-size: 12px;
}
.copyr{
  display: flex;
  height: 90px;
  background: rgb(22, 6, 112);
  color: white;
  justify-content: space-between;
}
.copyr .noz .fa{
  margin-right: 5px;
}
.copyr .fablas{
  margin: 40px;
}
.copyr .fab{
  margin: 0 10px 0 10px;
}
.copyr .noz{
  margin: 40px;
}

@media only screen and (max-width: 600px) {

header .top-head{
  margin: 0 0 0 30px;
  display: flex;
  justify-content: space-between;
}
header .top-head .fabjust{
  color: hsla(240, 39%, 91%, 0.47);
  margin: 5px 20px 0 0;
}
header .top-head .follow{
  margin: 5px 0 0 0;
}
header .hamburg{
  display: none;
}
.header2 .img{
  margin-left: 30px;
}
.menu .topbar li{
  display: none;
}
.header2 .menu {
  margin: 0 23px 0 0;
}
.header2 .topbar .fa{
  display: block;
  color: black;
  font-size: 22px;
  outline: .2px solid rgba(197, 190, 190, 0.632);
} 
.header2 .menu ul {
  margin: 11px 0 0 0;
}
.leftbar{
  top: -10px;
}
.hero {
  background-image: url("../IMAGE/bak.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
  background-position: center;
}
.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.724);
  width: 100%;
  height: 100vh;
  top: 0;
}
.explore {
  margin: 100px 0 0 0;
}
.explore .shaping{
  margin: 50px 0 0 20px;
  font-size: 30px;
  color: white;
}
.explore .shaping h1{
  line-height: .9;
}
.explore .shaping h4{
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.explore .form {
  width: 80%;
  margin: 50px 0 0 20px;
}
.explore select{
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  width: 60%;
}
.explore button {
  margin: 10px;
  color: white;
  background: red;
  padding: 10px;
  width: 58%;
}
.float{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.float .flex1{
  margin: 80px 5px 15px 0;
  padding: 30px 0;
  flex-basis: 50%;
  text-align: center;
}
.float .flex1 img{
  margin: 0 0 0 0;
}
.float .flex2 {
  text-align: center;
  flex-basis: 50%;
  line-height: 2;
  margin: 30px 10px 20px 10px;
  
}
.offering{
  font-size: 20px;
  margin-left: 20px;
}
.flex-table {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 140px;
  width: 100%;
}
.flex-table .text{
  margin: 3px 3px 3px 0;
  text-align: center;
  padding: 40px 0 30px 0;
}
.flex-table h3{
  padding-left: 0;
}
.flex-table .box img{
  padding: 0 12px;
  border-radius: 10px;
}
.hero2{
  height: 100vh;
}
.hero2 .why-me{
  font-size: 20px;
  margin: 110px 0 10px 20px;
  padding: 0 0 8px 0;
  border-bottom: 10px solid rgb(116, 11, 11);
  color: rgb(17, 43, 127);
  display: inline-block;
}
.hero2 h2{
  font-size: 30px;
  margin-left: 20px;
  color: rgb(10, 35, 118);
}
.three-column{
  display: flex;
  margin: 55px 0 0 14px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.three-column > div{
  color: black;
  padding: 2px; 
  line-height: 1.3;
  flex-basis: 28%;
}
.three-column p{
  padding: 0 5px 5px 0;
  color: rgb(91, 77, 77);
}
.all-news{
  margin: 120px 0 0 10px;
}
.background{
  justify-content: flex-start;
  height: 100vh;
}
.background .overlay2{
  display: inline-block;
  color: white;
  width: 90%;
  background: rgba(0, 0, 0, 0.804);
}
.overlay2 .flex-right h2{
  font-size: 32px;
  margin: 45px 0 20px 20px;
}
.overlay2 .flex-right ul{
  margin: 10px 0 0 5px;
  font-size: 12px;
}
.overlay2 .flex-right ul li{
  margin: 0 25px 12px 25px
}
.hero3 .event{
  margin: 140px 0 0 20px;
  font-size: 18px;

}
.hero3 h2{
  font-size: 35px;
  margin: 10px 0 0 18px;
}
.hero3{
  height: 400vh;
}
.boxrow{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.boxrow >div{
  background: white;
  margin: 20px;
  flex-basis: 500px;
  border-radius: 15px;
  padding: 30px 15px 0 15px;
  box-shadow: 0.7px 2px 3px 1px rgba(14, 10, 10, 0.438);
  
}
.apply {
  margin: 130px 0 30px 10px;
}
.apply h3{  
  font-size: 20px;
}
.apply p{
  font-size: 30px;
}
.comp{
  flex-direction: column;
  justify-content: flex-start;
}
.comp>div{
  margin: 0 15px 0 15px;
  flex-basis: 400px;
}
.comp .img3{
  flex-shrink: 0; 
  width: 96%;
  height: 390px;
}
.comp img{
  width: 96%;
  height: 390px;
  object-fit: cover;
}
.comp .apply2{
  margin: 0 27px 0 20px;
}
.copyr{
  display: flex;
  flex-direction: column;
}
.copyr .fablas{
  margin: 0 0 20px 12px;
}
.copyr .fab{
  margin: 0 10px 0 10px;
}
.copyr .noz{
  margin: 20px 20px 0 20px;
}
}
